[submodule "data/BSIMM-Graphs-Data"]
	path = data/BSIMM-Graphs-Data
	url = https://github.com/DinisCruz/BSIMM-Graphs-Data
[submodule "code/api"]
	path = code/api
	url = https://github.com/OWASP/Maturity-Models-API
[submodule "code/ui"]
	path = code/ui
	url = https://github.com/OWASP/Maturity-Models-UI
[submodule "code/qa"]
	path = code/qa
	url = https://github.com/OWASP/Maturity-Models-QA
[submodule "data/OwaspSAMM"]
	path = data/OwaspSAMM
	url = https://github.com/OWASP/Maturity-Models-OwaspSAMM
[submodule "data/OwaspASVS"]
	path = data/OwaspASVS
	url = https://github.com/OWASP/Maturity-Models-OWASP-ASVS
